<!-- <img src="../../../../../assets/imgEstatica01.svg" alt="formas geométricas decorativas"> -->
<swiper [pagination]="true" class="mySwiper">
    <ng-template swiperSlide>
        <img src="../../../../../assets/imgEstatica01.svg" alt="Formas Geométricas decorativas">
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../../../assets/imgEstatica02.svg" alt="Formas Geométricas decorativas">
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../../../assets/imgEstatica03.svg" alt="Formas Geométricas decorativas">
    </ng-template>
  </swiper>
