@import '~swiper/css/bundle';

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 50px auto;
}

.swiper-slide {

  color: #000;
  text-align: center;
  line-height: 300px;
  height: 65vh;
}
.swiper-pagination-bullet{
  height: 2px;
  width: 25.63px;
  border-radius: 50px;
}

/* ativou ou desativado */
.swiper-pagination-bullet{
  background:  #7631F0;
  opacity: unset;
}

.swiper-pagination-bullet-active{
  background:#FFFFFF;

}
