<div class="container alinhamento-horizontal">
    <a routerLink="/register">
      <img class="seta" src="../../../../../assets/triangulo.svg" alt="seta para voltar nas questões anteriores">
    </a>
    <div class="barra barra-branca"></div>
    <div class="barra barra-branca"></div>
    <div class="barra barra-branca"></div>
    <div class="barra barra-roxa"></div>
    <div class="barra barra-roxa"></div>
    <div class="barra barra-roxa"></div>
    <div class="barra barra-roxa"></div>
    <div class="barra barra-roxa"></div>
    <div class="barra barra-roxa"></div>
    <a routerLink="/quiz">
        <p>Skip</p>
    </a>
</div>
