<div class="main-container fade-in">
    <div class="logo">
        <img src="../../../../../assets/Logo.svg" alt="logo skys">
    </div>
    <div class="container">
    <img src="../../../../../assets/LAUNCH YOUR WILDEST DREAMS INTO REALITY.svg" alt="">
    </div>
    <div>
        <div>
            <app-botao-transparente-borda-branca [isComBorda]="true"> Sign Up </app-botao-transparente-borda-branca>
            <app-botao-transparente-borda-branca  > Log in </app-botao-transparente-borda-branca>
        </div>
    </div>
</div>
