.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: grid;
    grid-template-rows: 10% 1fr 25%;
    min-height: 100vh;
}



