.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}
.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 65vh;
}
.main-container{
    /* display: grid;
    grid-template-rows: 10vh 65vh 25vh; */
    min-height: 100vh;
}



