<div class="main-container fade-in">
    <div class="logo">
        <img src="../../../../../assets/Logo.svg" alt="logo skys">
    </div>
    <div class="container">
        <div class="auth-swiper">
          <app-auth-swiper></app-auth-swiper>
        </div>
    </div>
    <div>
        <div>
            <app-botao-transparente-borda-branca (click)="acessarPagina()" [isComBorda]="true"> Sign Up </app-botao-transparente-borda-branca>
            <app-botao-transparente-borda-branca  > Log in </app-botao-transparente-borda-branca>
        </div>
    </div>
</div>
